@import url('https://fonts.googleapis.com/css?family=Barrio|Pangolin');

body {
	background-color: $offwhite;
}

$offwhite:    #EEE8D6;
$darkblue:    #022933;
$yellow:      #FFBA00;
$blue:        #0076A3;
$green:       #548C27;
$orange:      #F39856;
$red:         #D14348;
$purple:      #6D73C2;

$color-main: $darkblue;
$color-backgrounds: $offwhite;
$color-headlines: $red;

$font1: 	'Pangolin','Helvetica',san-serif;
$font2:		'Barrio', 'Helvetica', san-serif;

.container {

	h2 {
	color: $red;
	font-family: $font1;
	}
	p {
	color: $blue;
	font-family: $font2;
	}
}
